<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Encryption</title>
    <link rel="stylesheet" href="public/index.min.css">
    <script src="public/index.min.js" defer></script>
</head>

<body>
    <nav>
        <p>PDF Encryption</p>
    </nav>

    <div class="uploads_container">
        <form action="/uploads" method="POST" enctype="multipart/form-data" class="uploads_form">
            <div class="files_form_group">
                <label for="files" title="Browse"><%- include('../public/svg/folder.svg') %></label>
                <input type="file" name="files" id="files" accept=".pdf" multiple required>
                <textarea title="No file choosen" readonly>No file choosen</textarea>
            </div>
            <button type="submit" class="btn" title="Upload">
                <div class="loading hidden">
                    <%- include('../public/svg/loading.svg') %>
                </div>
                <span>Upload</span>
            </button>
        </form>
    </div>

    <div class="pdf_container">
        <% if (pdfs) { %>
        <table class="pdf_table">
            <% pdfs.forEach(pdf => { %>
            <tr class="pdf_tbody_row">
                <td class="pdf_col_name">
                    <div <%= pdf.isEncrypted ? 'class=pdf_name_container' : '' %>>
                        <a href="/uploads/<%= pdf.name %>" target="_blank" title="<%= pdf.name %>"><%= pdf.name %></a>
                        <% if (pdf.isEncrypted) { %>
                        <span class="pdf_name_note">*PDF is Encrypted</span>
                        <% } %>
                    </div>
                </td>
                <td class="pdf-col">
                    <% if (!pdf.isEncrypted) { %>
                    <form action="/encrypt" method="POST">
                        <input type="hidden" name="encrypted_file" value="<%= pdf.name %>">
                        <button type="submit" class="btn" title="Encrypt">
                            <div class="loading hidden">
                                <%- include('../public/svg/loading.svg') %>
                            </div>
                            <span>Encrypt</span>
                        </button>
                    </form>
                    <% } %>

                    <% if (pdf.isEncrypted) { %>
                    <form action="/decrypt" method="POST">
                        <input type="hidden" name="decrypted_file" value="<%= pdf.name %>">
                        <button type="submit" class="btn" title="Decrypt">
                            <div class="loading hidden">
                                <%- include('../public/svg/loading.svg') %>
                            </div>
                            <span>Decrypt</span>
                        </button>
                    </form>
                    <% } %>
                </td>
                <td>
                    <form action="/delete" method="POST">
                        <input type="hidden" name="deleted_file" value="<%= pdf.name %>">
                        <button type="submit" class="btn" title="Delete">
                            <div class="loading hidden">
                                <%- include('../public/svg/loading.svg') %>
                            </div>
                            <span>Delete</span>
                        </button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
        <% } %>
    </div>
</body>

</html>
