<div>
    <form action="/uploads" method="POST" enctype="multipart/form-data">
        <div class="input-group custom-file">
            <input type="file" name="files" accept=".pdf" class="form-control" id="uploadFile" aria-describedby="uploadFileAddon" aria-label="Upload" multiple required autofocus>

            <% if (loggedInUser) { %>
            <button class="btn btn-primary" type="submit" id="uploadFileAddon" title="Upload">
                <span>Upload</span>
            </button>
            <% } else { %>
            <a href="/login" class="btn btn-primary" id="uploadFileAddon" title="Upload">Upload</a>
            <% } %>
        </div>
    </form>
</div>

<% if (loggedInUser) { %>
<form action="/delete-all?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-outline-danger" title="Delete All" <%= !pdfs.length > 0 && 'disabled'  %>>
        <span>Delete All</span>
    </button>
</form>
<% } else { %>
<div class="text-center">
    <a href="/login" class="btn btn-outline-danger" title="Delete All">Delete All</a>
</div>
<% } %>

<% if (pdfs.length > 0) { %>
<div>
    <table class="table table-responsive align-middle">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th colspan="3" class="text-center">Action</th>
            </tr>
        </thead>

        <tbody>
            <% pdfs.forEach((pdf, idx) => { %>
            <tr>
                <td>
                    <a href="<%= pdf.url %>" target="_blank" rel="noopener noreferrer" title="<%= pdf.name %>"><%= pdf.name %></a>
                    <% if (pdf.isHashed) { %>
                    <div>
                        <span class="text-small">Checksum: <%= pdf.data.checksum || '-' %></span>
                    </div>
                    <div>
                        <span class="text-small">Public Key: <%= pdf.data.publicKey || '-' %></span>
                    </div>
                    <% } %>
                </td>

                <td>
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#preview<%= idx %>" title="Preview">
                        Preview
                    </button>

                    <div class="modal fade" id="preview<%= idx %>" tabindex="-1" aria-labelledby="preview<%= idx %>Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="preview<%= idx %>Label">Preview for <%= pdf.name %></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"></button>
                                </div>

                                <div class="modal-body ratio ratio-1x1">
                                    <iframe title="<%= pdf.name %> Preview" src="<%= pdf.url %>" frameborder="0" width="100%" height="500px" allow="fullscreen"></iframe>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" title="Close">Close</button>
                                    <a href="<%= pdf.url %>" class="btn btn-success text-decoration-none" download title="Download">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <% if (loggedInUser) { %>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#sign<%= idx %>" title="<%= pdf.isHashed ? 'Re-Sign' : 'Sign' %>">
                            <%= pdf.isHashed ? 'Re-Sign' : 'Sign' %>
                        </button>
                    </div>

                    <div class="modal fade" id="sign<%= idx %>" tabindex="-1" aria-labelledby="sign<%= idx %>Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="sign<%= idx %>Label">Sign <%= pdf.name %></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"></button>
                                </div>

                                <form action="/sign" method="POST">
                                    <input type="hidden" name="signed_pdf" value="<%= pdf.name %>">

                                    <div class="p-2 d-flex flex-column sign-input-group">
                                        <label for="private_key<%= pdf.name %>">Private Key For Encryption</label>
                                        <input type="text" class="form-control" name="private_key" id="private_key<%= pdf.name %>" minlength="1" maxlength="16" required>
                                        <p class="text-small text-secondary">Note: Private Key is recommended to be 1-16 characters long.</p>
                                    </div>

                                    <div class="p-2 d-flex flex-column sign-input-group">
                                        <label for="public_key<%= pdf.name %>">Public Key For Hash</label>
                                        <input type="text" class="form-control" name="public_key" id="public_key<%= pdf.name %>" minlength="1" maxlength="32" required>
                                        <p class="text-small text-secondary">Note: Public Key must be 1-32 characters long.</p>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" title="Close">Close</button>
                                        <button type="submit" class="btn btn-success" title="<%= pdf.isHashed ? 'Re-Sign' : 'Sign' %>">
                                            <span><%= pdf.isHashed ? 'Re-Sign' : 'Sign' %></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="text-center">
                        <a href="/login" class="btn btn-outline-success" title="<%= pdf.isHashed ? 'Re-Sign' : 'Sign' %>"><%= pdf.isHashed ? 'Re-Sign' : 'Sign' %></a>
                    </div>
                    <% } %>
                </td>


                <td>
                    <% if (loggedInUser) { %>
                    <form action="/delete?_method=DELETE" method="POST">
                        <input type="hidden" name="deleted_pdf" value="<%= pdf.name %>">
                        <button type="submit" class="btn btn-outline-danger" title="Delete">
                            <span>Delete</span>
                        </button>
                    </form>
                    <% } else { %>
                    <div class="text-center">
                        <a href="/login" class="btn btn-outline-danger" title="Delete">Delete</a>
                    </div>
                    <% } %>
                </td>

            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<% } %>

<div>
    <h4 class="text-center">Compare PDF Hashes</h4>
    <p class="text-small text-center text-secondary">*Need at least 1 hashed PDFs to compare.</p>
    <form action="/compare-hash" method="POST" class="d-flex flex-column compare-pdf-form" enctype="multipart/form-data">
        <div class="d-flex sign-input-group">
            <div>
                <label for="hashed_pdf">Hashed PDF</label>
                <select class="form-select" name="hashed_pdf" id="hashed_pdf" title="Hashed PDF" required <%= pdfs.filter(pdf => pdf.isHashed).length < 1 && 'disabled' %>>
                    <option selected disabled>No PDF Selected</option>
                    <% pdfs.forEach(pdf => { %>
                    <% if (pdf.isHashed) { %>
                    <option value="<%= pdf.name %>"><%= pdf.name %></option>
                    <% } %>
                    <% }) %>
                </select>
            </div>

            <div>
                <label for="private_key">Private Key For Decryption</label>
                <input type="text" class="form-control" name="private_key" id="private_key" minlength="1" maxlength="16" required <%= pdfs.filter(pdf => pdf.isHashed).length < 1 && 'disabled' %>>
                <p class="text-small text-secondary">Note: Private Key is recommended to be 1-16 characters long.</p>
            </div>
        </div>

        <div class="d-flex sign-input-group">
            <div>
                <label for="normal_pdf">Normal PDF</label>
                <input type="file" class="form-control" name="normal_pdf" id="normal_pdf" accept=".pdf" required <%= pdfs.filter(pdf => pdf.isHashed).length < 1 && 'disabled' %>>
            </div>

            <div>
                <label for="public_key">Public Key For Hash</label>
                <input type="text" class="form-control" name="public_key" id="public_key" minlength="1" maxlength="32" required <%= pdfs.filter(pdf => pdf.isHashed).length < 1 && 'disabled' %>>
                <p class="text-small text-secondary">Note: Public Key must be 1-32 characters long.</p>
            </div>
        </div>

        <div class="text-center">
            <% if (loggedInUser) { %>
            <button class="btn btn-outline-info" type="submit" <%= pdfs.filter(pdf => pdf.isHashed).length < 1 && 'disabled' %> title="Compare">
                <span>Compare</span>
            </button>
            <% } else { %>
            <a href="/login" class="btn btn-outline-info" <%= pdfs.filter(pdf => pdf.isHashed).length < 1 && 'disabled' %> title="Compare">Compare</a>
            <% } %>
        </div>
    </form>
</div>
